.allowance{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.allowance h1{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: var(--background_blue);
    text-align: center;
    margin: 20px 0 20px 0;
}
.allowance .details{
    width: 60vw;
}
.allowance .details .head{
    margin-top: 40px;
    border-bottom: 4px solid var(--headingGreen);
    text-align: center;
}
.allowance .details .head h3{
    font-weight: bold;
    color: var(--headingGreen);
}
.allowance .details .detail .row{
   background-color: var(--delivered);
   border-bottom: 3px solid black;
}
.allowance .details .detail .row .button{
    background-color: var(--background_blue);
    width: 6vw;
    height: 4vh;
    color: var(--wheat);
    font-size: 18px;
    font-weight: 600;
    margin-top: 6px;
    padding: 0 0 4px 0;
    border-radius: 50px;
 }
.allowance .details .detail p{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.allowance .details .allowanceBtn{
    background-color: var(--background_blue);
    color: var(--wheat);
    border-radius: 50px;
    font-weight: bold;
}