:root{
    --background_blue: #03044F;
    --navfont: #F2ECD2;
    --background-linear: linear-gradient(180deg, #FFFFFF 60.52%, #03044F 100%);
    --wheat: #D9D9D9;
    --wheatOpacity: rgba(217, 217, 217, .6):
    --about_back_linear:linear-gradient(180deg, #040555 0%, #7B7C92 100%);
    --signin_back: #D9D9D9;
    --headingGreen: rgb(10, 101, 71);
    --accepted :#c3e6cb;
    --cancelled :#f5c6cb;
    --delivered :#bee5eb;
    --onGoing : #f6e2a8;
    --finished : #d4edda;
    --pending : #ecd4ed;
    --yellow: #e6e607;
}
body{
    margin: 0;
    padding: 0;
}