/* Payment Form Styles */
#paymentPage{
    background-image: url('../Assets/aboutcontent.png');
    height: 100vh;
}
#paymentPage #payment  {
    height: 87vh;
    padding: 20px; 
    background-color:var(--signin_back); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#paymentPage #payment  h1 {
    font-style: italic;
    font-weight: bold;
    color: var(--background_blue);
    text-align: center;
    margin: 0px 0 20px 0;
}
#paymentPage #payment form{
    margin-top: 100px;
}
#paymentPage #payment .form-group {
    padding-bottom: 30px;
    height: 100px;
}

#paymentPage #payment .form-control {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    outline: none; 
    box-sizing: border-box; 
    
}

#paymentPage #payment .form-control.is-invalid {
    border-color: red;
}

#paymentPage #payment .invalid-feedback {
    color: red; 
    font-size: 12px; 
}

#paymentPage #payment .btn {
    display: block; 
    width: 40%; 
    padding: 10px; 
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#paymentPage #payment .btn:hover {
    background-color: #0056b3;
}

#paymentPage #payment .card-logo img {
    width: 40px; 
    height: auto; 
    margin-top: 10px; 
}
#paymentPage .totalAmount{
    background-color: var(--wheat);
    text-align: center;
    height: 87vh;
    border-left: 1px solid #000;
}
#paymentPage .totalAmount h1{
    font-style: italic;
    font-weight: bold;
    color: var(--background_blue);
    text-align: center;
    margin: 20px 0 50px 0;
}
#paymentPage .totalAmount .Amount h5{
    color: var(--headingGreen);
}
#paymentPage .totalAmount h2{
    color: rgb(6, 61, 43);
    margin-top: 20px;
    
}
#paymentPage .totalAmount .head{
    border-bottom: 3px solid var(--headingGreen);
    margin-bottom: 10px;
}
