.paymentMethod{
    background-image: url('../Assets/aboutcontent.png');
    height: 100vh;
}
.paymentMethod .method{
    background-color: var(--wheat);
    text-align: center;
    padding: 30px;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.paymentMethod .method h2{
    font-style: italic;
    font-weight: bold;
    color: var(--background_blue);
    text-align: center;
    margin: 20px 0 50px 0;
}
.paymentMethod .method div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paymentMethod .method div .link{
    text-decoration: none;
    margin: 10px;
    width: 20vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--background_blue);
    color: var(--wheat);
    font-size: 22px;
    font-weight: bold;
}
.paymentMethod .method div .link:hover{
    background-color: #2f3063;
}
.paymentMethod .totalAmount{
    background-color: var(--wheat);
    text-align: center;
    height: 87vh;
    border-left: 1px solid #000;
}
.paymentMethod .totalAmount h1{
    font-style: italic;
    font-weight: bold;
    color: var(--background_blue);
    text-align: center;
    margin: 20px 0 50px 0;
}
.paymentMethod .totalAmount .Amount h5{
    color: var(--headingGreen);
}
.paymentMethod .totalAmount h2{
    color: rgb(6, 61, 43);
    margin-top: 20px;
}
.paymentMethod .totalAmount .head{
    border-bottom: 3px solid var(--headingGreen);
    margin-bottom: 10px;
}