.signup .form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url('../Assets/signup.webp') no-repeat center center fixed;
    background-size: cover;
}

.signup .form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    /* margin-top: -100px; */

}

.signup .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup .form-group {
    margin-bottom: 15px;
}

.signup .form-control {
    border-radius: 5px;
}

.signup .button {
    text-align: center;
}

.signup .button .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup .button .btn:hover {
    background-color: #0056b3;
}

.signup .link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
}

.signup .link:hover {
    text-decoration: underline;
}
