/* Unauthorized.css */
.unauthorized {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.unauthorized {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.unauthorized .logo {
    width: 150px;
    margin-bottom: 20px;
}

.unauthorized h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.unauthorized p {
    margin: 10px 0;
}

.unauthorizeda {
    color: #0066cc;
    text-decoration: none;
}

.unauthorized a:hover {
    text-decoration: underline;
}
