.verticalNav{
    background-color: var(--background_blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18vw;
    min-height: 100vh;
}
.verticalNav .logo{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.verticalNav .logo img{
    height: 12vh;
    margin: 20px;
}
.verticalNav .link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:var(--wheat);
    font-size: 20px;
    font-weight: 600;
    padding: 6px 0 13px 30px;
    text-transform: uppercase;
    margin: 6px;
    width: 17vw;
}
.verticalNav .navLinks{
    margin-left: 20px;
}
.verticalNav .links .active-link{
    background-color: var(--wheat);
    width: 15vw;
    color: var(--background_blue);
    border-radius: 40px;
}
.verticalNav .nav{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.verticalNav .profile{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.verticalNav .profile .profileLink{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:var(--wheat);
    font-size: 18px;
    font-weight: 600;
    padding: 6px 0 13px 30px;
    text-transform: uppercase;
}
.verticalNav .profile .profileLink .image{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
    background-color: var(--delivered);
    width: 4vw;
    height: 4vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background_blue);
    padding-top: 15px;
    box-shadow: inset -9px -4px 1px rgba(119, 118, 118, 0.5);

}
.verticalNav .profile .profileLink .image p{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.verticalNav .links{
    /* margin-top: 35px; */
    display: flex;
    flex-direction: column;
    align-items: start;
}
.verticalNav .otherLinks{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.verticalNav .link:hover{
    background-color: var(--wheat);
    color: var(--background_blue);
    /* margin: 0 0 18px 0 ; */
    border-radius: 40px;
    width: 15vw;
}